@import url("./fonts.css");

body {
    font-family: "Huifont";
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-sizing: 2px 2px 4px;
}

header {
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .menu {
        margin-left: 25px;

        .text-logo {
            font-family: "LifeLogo";
            text-decoration: none;
            font-size: 30px;
            color: white;
            position: relative;
        }

        ion-icon {
            font-size: 20px;
            color: white;
        }

        .icon-1 {
            position: absolute;
            left: -5px;
            top: 5px;
            transform: rotate(-45deg);
        }

        .icon-2 {
            position: absolute;
            top: 10px;
            transform: rotate(45deg);
        }

        .nav-item {
            font-size: 18px;
            font-weight: 500;
            padding: 0px 15px 0px 15px;

            .nav-link {
                color: white;
            }
        }
    }

    .sns {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .line {
            width: 2px;
            height: 15vh;
            background-color: white;
            margin-left: 25px;
        }

        .mxh {
            margin-left: 18px;
            color: white;

            ion-icon {
                padding: 15px 0px 15px 0px;
                font-size: 18px;
            }
        }
    }
}

.text-title {
    h1 {
        animation: pulse 2s infinite;
        margin-top: 50px;
    }
}

.item-bt {
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .item-content-tour {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: height 0.8s ease;
        background: rgba(0, 0, 0, 0.5);
        height: 0;

        p {
            display: none;
        }
    }

    img {
        transition: transform 0.8s ease;
    }

    &:hover {
        img {
            transform: scale(1.3);
        }

        .item-content-tour {
            height: 20%;

            p {
                display: block;
            }
        }

    }
}

.item-tips {
    border: 2px solid black;
    border-radius: 4px;
}

.ks {
    .item-hotels {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        a {
            color: white;

            .item-content-ks {
                background: rgba(0, 0, 0, 0.5);
                height: 0;
                transition: height 0.8s ease;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;

                p {
                    display: none;
                }
            }

            img {
                transition: transform 0.8s ease;
            }

            &:hover {
                img {
                    transform: scale(1.3);
                }

                .item-content-ks {
                    height: 20%;

                    p {
                        display: block;
                    }
                }
            }
        }

    }
}

.sokaibasho {
    .sokai-content {
        position: relative;
        column-count: 4;
        padding: 20px;

        .image {
            display: inline-block;
            margin-bottom: 10px;
            overflow: hidden;

            img {
                transition: transform 0.8s ease;
            }

            &:hover {
                img {
                    transform: scale(1.3);
                }
            }
        }
    }
}

footer {
    .logo-footer {
        position: relative;
        color: black;

        .text-logo-footer {
            font-family: "LifeLogo";
            font-size: 30px;
            margin: 0;
            position: relative;

            span {
                position: absolute;
                top: 35px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .icon-3 {
            position: absolute;
            left: -20px;
            top: -5px;
            transform: rotate(-45deg);
            font-size: 20px;
        }

        .icon-4 {
            position: absolute;
            right: -20px;
            top: 5px;
            transform: rotate(45deg);
            font-size: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15vw;
            width: 30vw;
            height: 2px;
            background-color: black;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15vw;
            width: 30vw;
            height: 2px;
            background-color: black;
        }
    }

    .text-footer-left {
        order: 1;
    }

    .text-footer-right {
        order: 3;
    }

    .text-footer-center {
        order: 2;

        .sns-footer {
            ion-icon {
                padding: 15px;
                font-size: 20px;
            }
        }

        .line {
            width: 2px;
            height: 10vh;
            background-color: black;
        }

        table {
            width: 80%;

            tr {
                border: 2px solid black;

                td {
                    padding: 15px 0px;
                }
            }
        }

        .ion-ft {
            font-size: 25px;
        }
    }
}

@media screen and (max-width:992px) {
    .sokai-content {
        column-count: 3 !important;
    }
}

@media screen and (max-width:768px) {
    .sokai-content {
        column-count: 2 !important;
    }

    footer {
        .text-footer-right {
            order: 2;
        }

        .text-footer-center {
            order: 3;
        }
    }
}

@media screen and (max-width:576px) {
    .sokai-content {
        column-count: 1 !important;
    }
}

@keyframes pulse {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}